<div class="topnav">
    <a class="active" href="{% url 'dashboard' %}">Dashboard</a>
    
    
    {% if user.user_type == 'recruiter' %}
        
    <a href="{% url 'addjob' %}">Add Job</a>
    {% endif %}
        
    <a href="{% url 'joblist' %}">Job List</a>
    <a href="{% url 'baseprofile' %}">Profile</a>
    <a href="{% url 'logoutpage' %}">Log Out</a>

    <div class="search-container">
      <form action="{% url 'searchpage' %}" method="GET">
        <input type="text" placeholder="Search.." name="search">
        <button type="submit"><i class="fa fa-search"></i></button>
      </form>
    </div>
</div>

