{% extends 'profile/baseprofile.html' %}


{% block proinfo %}
<table border="2px">
    <tr>
        <th>Job Title</th>
        <th>Category</th>
        <th>Job Description</th>
        <th>Skill Set</th>
        <th>Status</th>
    </tr>
    
    {% for i in applied_job %}
        
    <tr>
        <td>{{i.applied_job.title}}</td>
        <td>{{i.applied_job.category}}</td>
        <td>{{i.applied_job.job_description}}</td>
        <td>{{i.applied_job.skill_sets}}</td>
        <td>{{i.status}}</td>
    </tr>
    {% endfor %}
        
</table>
{% endblock proinfo %}
