{% extends 'common/base.html' %}


{% block content %}
    <h3>Display Name:</h3>
    <p>{{user.display_name}}</p>
    
    <button><a href="{% url 'basicinfo' %}">Basic Info</a></button>
    
    {% if user.user_type == 'seeker' %}
    <button><a href="{% url 'seekerotherinfo' %}">Seeker Other Info</a></button>
    <button><a href="{% url 'appliedjob' %}">Applied Job</a></button>
    
    {% elif user.user_type == 'recruiter' %}
    <button><a href="{% url 'recruiterotherinfo' %}">Recruiter Other Info</a></button>
    <button><a href="{% url 'postedjob' %}">Posted Job</a></button>
    {% endif %}


    {% block proinfo %}
        
    {% endblock proinfo %}
        
    {% endblock content %}
    