{% extends 'master.html' %}


{% block body %}
<div class="container py-5">
  <div class="row justify-content-center">
    <div class="col-md-8">
      <div class="card shadow-sm">
        <div class="card-header bg-primary text-white">
          <h4 class="mb-0">My Profile</h4>
        </div>
        <div class="card-body">
          <div class="row mb-3">
            <label class="col-sm-3 fw-bold">Full Name:</label>
            <div class="col-sm-9">{{ request.user.first_name }} {{ request.user.last_name }}</div>
          </div>
          <div class="row mb-3">
            <label class="col-sm-3 fw-bold">Username:</label>
            <div class="col-sm-9">{{ request.user.username }}</div>
          </div>
          <div class="row mb-3">
            <label class="col-sm-3 fw-bold">Email:</label>
            <div class="col-sm-9">{{ request.user.email }}</div>
          </div>
          <div class="row mb-3">
            <label class="col-sm-3 fw-bold">User Type:</label>
            <div class="col-sm-9 text-capitalize">{{ request.user.user_type }}</div>
          </div>
          {% if user.user_type == 'teacher' %}
          <div class="row mb-3">
            <label class="col-sm-3 fw-bold">User Phone:</label>
            <div class="col-sm-9 text-capitalize">{{ teacher.phone }}</div>
          </div>

          <div class="row mb-3">
            <label class="col-sm-3 fw-bold">Subject :</label>
            <div class="col-sm-9 text-capitalize">{{ teacher.subject }}</div>
          </div>

          <div class="row mb-3">
            <label class="col-sm-3 fw-bold">Hire Date :</label>
            <div class="col-sm-9 text-capitalize">{{ teacher.hire_date|date:"Y-m-d" }}</div>
          </div>
          
          <div class="text-end mt-4">
            <a href="{% url 'addStudent' %}" class="btn btn-success">Add Student</a>
          </div>
          {% endif %}
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock body %}
