{% extends 'profile/baseprofile.html' %}


{% block proinfo %}
<table border="2px">
    <tr>
        <th>Created by</th>
        <th>Title</th>
        <th>Number of openings</th>
        <th>Category</th>
        <th>Job Description</th>
        <th>Skill Sets</th>
    </tr>
    
    {% for i in jobs %}
        
    <tr>
        <td>{{i.created_by}}</td>
        <td>{{i.title}}</td>
        <td>{{i.number_of_openings}}</td>
        <td>{{i.category}}</td>
        <td>{{i.job_description}}</td>
        <td>{{i.skill_sets}}</td>
    </tr>
    {% endfor %}
        
</table>
{% endblock proinfo %}
