{% extends "master.html" %}

{% block body %}

<style>
    a{
        text-decoration: none;
    }
table {
  border-collapse: collapse;
  width: 100%;
}

th, td {
  padding: 8px;
  text-align: left;
  border-bottom: 1px solid #DDD;
}

tr:hover {background-color: #D6EEEE;}
</style>


<h2>Resume List</h2>

<table>
  <tr>
    <th>Profile Picture</th>
    <th>Full Name</th>
    <th>Email</th>
    <th>Phone</th>
    <th>Actions</th>
  </tr>
  {% for resume in resumes %}
  <tr>
    <td>
        <img src="/{{ resume.Profile_Picture }}" alt="" srcset="" width="50px">
    </td>
    <td>{{ resume.Full_Name }}</td>
    <td>{{ resume.Email }}</td>
    <td>{{ resume.Phone }}</td>
    <td>
        <a href="{% url 'home' %}">View</a>
        <a href="{% url 'updateDetails' resume.id %}">Edit</a>
        <a href="{% url 'deleteResume' resume.id %}">Delete</a>
    </td>
  </tr>
  {% endfor %}
 
</table>






{% endblock body %}